#header { background-color: #030303; border:none; color:#292929; height:39px; padding:0px; line-height: 39px; border-bottom: solid 3px #E4A915; font-weight: bold; } 
#footer { background-color: #797979; border:none; color:#fff; height:35px; padding:0; line-height: 35px; border-bottom: solid 2px red; text-align: center; }
